/*universal selectors*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Body background*/
body {
    background-color: #d9dcd6;
}
/*header sizing,colot and font*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*main header for display and font-size*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*color for specifically Horiseon*/
header h1 .seo {
    color: #d9dcd6;
}
/*style for quick link */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*take off bullet points*/
header div ul {
    list-style-type: none;
}
/*sets display for quick links*/
header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*color for anchor element and removes link decoration */
a {
    color: #ffffff;
    text-decoration: none;
}
/*font size for basic text*/
p {
    font-size: 16px;
}
/*atyling for main background*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*make sure all elements within this class float left */
.float-left {
    float: left;
    margin-right: 25px;
}
/*make sure all elements within this class float left */
.float-right {
    float: right;
    margin-left: 25px;
}
/*styling for the main tree info boxes on the left side of the screen*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*styling for search engine optimazation box*/
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*styling for online reputation management*/
#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*styling for social media marketing */
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*styling search engine optimization box imag */
#search-engine-optimization img {
    max-height: 200px;
}
/*sizing for online reputation box image*/
#online-reputation-management img {
    max-height: 200px;
}
/*sizing for social media marketing box image */
#social-media-marketing img {
    max-height: 200px;
}
/*margin and font size for seach engine optimization box header*/
#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*margin and font size for search engine optimization box header*/
#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*margin and font size for online reputation management box*/
#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*main styling for benefits section,right side of the screen*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*margin and color for lead generation segment*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*margin and color for brand awareness segmnet */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*margin and color for cost management segment */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*margin and text align for the lead management header*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*margin and text alignment for brand awareness haeader*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*margin and text alignment for cost management */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*image formatting for lead generation graphic*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*image formatting for brand awareness graphic*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*image formatting for cost management graphic*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*styling for the footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*font size for h2 in the footer*/
footer h2 {
    font-size: 20px;
}
